@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Ms+Madi&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/body.jpg);
  background-color: rgb(34, 34, 41);
  height: 100vh;
}
.container {
  background-image: url(./img/h1.jpg);

  margin: 2rem auto;
  width: 40rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem 3rem;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.down {
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 40rem;

  text-align: center;
  margin: 0 auto;
}
h1 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-size: 4rem;
}
.input {
  width: 70%;
  padding: 1rem;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

input::placeholder {
  color: rgb(0, 0, 0);
  border: none;
}

.btn {
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  background-color: rgb(255, 254, 253);
  color: rgb(2, 2, 2);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: medium;
  font-weight: 700;
}
.todo {
  border-radius: 10px;
  background-image: url(./img/h1.jpg);

  margin-top: 2rem;
  font-family: "Neucha", cursive;
}
.altdiv {
  color: rgb(0, 0, 0);
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  font-family: "Dosis", sans-serif;
  align-items: center;
}
.altdiv p {
  max-width: 15rem;
  word-wrap: break-word;
  font-size: 1.3rem;
  font-weight: 600;
}

.remove {
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 0.4rem;
  color: rgb(0, 0, 0);
}

.checked > p {
  text-decoration: line-through rgb(0, 0, 0);
}

.fa-check {
  color: rgb(0, 0, 0);
}
